.Q1{
	Position: Absolute;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q2{
	Position: Absolute;
	top: 150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q3{
	Position: Absolute;
	top: -150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q4{
	Position: Absolute;
	top: 150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q5{
	Position: Absolute;
	top: -150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q6{
	Position: Absolute;
	top: 150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q7{
	Position: Absolute;
	top: -150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q8{
	Position: Absolute;
	top: 150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q9{
	Position: Absolute;
	top: 150px;
	Left: -150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q10{
	Position: Absolute;
	top: 150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q11{
	Position: Absolute;
	top: -150px;
	Left: -150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q12{
	Position: Absolute;
	top: 150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q13{
	Position: Absolute;
	top: -150px;
	Left: -150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q14{
	Position: Absolute;
	top: 150px;
	Left: -150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q15{
	Position: Absolute;
	top: -150px;
	Left: -150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q16{
	Position: Absolute;
	top: 150px;
	Left: -150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q17{
	Position: Absolute;
	top: -150px;
	Left: -150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q18{
	Position: Absolute;
	top: 150px;
	Left: -150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q19{
	Position: Absolute;
	top: -150px;
	Left: -150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q20{
	Position: Absolute;
	top: 300px;
	Left: 0px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q21{
	Position: Absolute;
	top: 150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q22{
	Position: Absolute;
	top: -150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q23{
	Position: Absolute;
	top: 150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q24{
	Position: Absolute;
	top: -150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q25{
	Position: Absolute;
	top: 150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q26{
	Position: Absolute;
	top: -150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q27{
	Position: Absolute;
	top: 150px;
	Left: 150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q28{
	Position: Absolute;
	top: 150px;
	Left: -150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q29{
	Position: Absolute;
	top: -150px;
	Left: -150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q30{
	Position: Absolute;
	top: 150px;
	Left: -150px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q31{
	Position: Absolute;
	top: 0px;
	Left: -300px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}
.Q32{
	Position: Absolute;
	top: 0px;
	Left: -300px;
	Width: 150px;
	Height: 150px;
	Background-color: #1C1C1C;
	Border: 0px;
}